{% extends 'base.html' %}
{% block body %}
<h1>Order Review</h1>
<form method="POST">
    <h3>Mains:</h3>
    {% for x in main %}
    <h7>{{x}}</h7><br>
    {% endfor %}

    <h3>Sides:</h3>
    {% for x in side %}
    <h7>{{x}}</h7><br>
    {% endfor %}

    <h3>Drinks:</h3>
    {% for x in drink %}
    <h7>{{x}}</h7><br>
    {% endfor %}

    <h3>Price:</h3>
    <h7>${{price}}</h7><br>
    <br>
    
    Enter your name:<input type="text" name="customer" placeholder="Your name"><br>

    <font size="3" color="red">
        {% for x in errors%}
        {{x}}<br>
        {%endfor%}
    </font><br>

    <input type="submit" name="CONFIRM ORDER" value="Complete Order ">
</form>
{% endblock %}